svg {
  overflow: visible;
  display: block;
  width: 100%;
  height: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}

.graph {
  padding: 50px 0;
}

.graphButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

button {
  width: 100px;
  margin-top: 5px;
  border: 1px solid black;
  outline: none;
}

/* Geo Chart */

#subheading {
  font-size: 15px;
}

svg .country {
  cursor: pointer;
}

svg .country:hover {
  stroke: black;
}

.geoChartContainer {
  width: 100%;
  /* background-image: url("./images/network.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
  background-image: linear-gradient(to bottom, #803A29, white);
  height: 100vh;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.geoChartContainer h2, .geoChartContainer h3 {
  margin-top: 0;
}

.geoChart {
  width: 80%;
  height: 50vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#usaText {
  position: absolute;
  font-size: 100px;
  bottom: -50;
  left: 10px;
  width: 50%;
  font-family: "Open Sans";
  font-weight: lighter;
  color: grey;
}

.geoChart svg {
  filter: url(#dropshadow);
}

.geoChartInfoContainer {
  position: absolute;
  top: 10;
  left: 10;
}

.geoChartInfo {
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}

.infoTitle {
  font-weight: bold;
}

#geoTooltip {
  position: absolute;
  width: auto;
  height: auto;
  background-color: white;
  border: 2px solid #000;
  box-sizing: border-box;
  transition: 0.1s;
  padding: 10px;
  display: none;
}

#geoTooltip p {
  margin: 0;
}

.dropdownContainer {
  width: 50%;
  display: flex;
  justify-content: center;
}

.dropdownContainer span {
  /* color: white; */
  padding: 0 10px;
}

.show {
  display: block;
} 

.hide {
  display: none;
}

/* Pie Chart */

.pieChartLayout {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pieChartDesc {
  width: 40%;
  padding: 0 50px;
}

.pieChartDesc h2 {
  color: #803A29;
}

.pieChartDesc:nth-child(odd) {
  text-align: left;
}

.pieChartDesc:nth-child(even) {
  text-align: right;
}

.pieChart {
  width: 40%
}

.pieChart svg {
  height: 350px
}


/* Animated Stacked Graph */

.stackedGraphSection {
  width: 100%;
  padding: 50px 0;
  height: auto;
  background-color: #121212;
}

.stackedGraphHeading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stackedGraphHeading h2 {
  margin-right: 5px;
  color: rgb(175, 175, 175);
}

.x-axis line, .y-axis line {
  stroke: rgb(175, 175, 175);
}

.x-axis path, .y-axis path {
  stroke: rgb(175, 175, 175);
}

.x-axis text, .y-axis text {
  fill: rgb(175, 175, 175);
}  

.stackedGraph svg {
  height: 250px
}

.stackedGraph div {
  width: 80%;
  margin: 0 auto;
}

  /* Checkboxes */

.fields {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fieldContainer {
  padding: 10px;
  border-radius: 10px;
  width: 20%;
  display: flex;
  justify-content: center;
  margin: 10px 10px
}

.mentalHealthFieldContainer {
  width: 25%;
}

.field {
  display: flex;
  align-items: center;
  color: black;
}

.field input {
  margin: 0;
}

.field label {
  margin-left: 5px;
}

  /* Range Sliders */

.rangeSliders {
  margin-top: 30px;
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.sliderContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.sliderContainer div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderContainer label {
  color: white;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 7px;
  outline: none;
  background-color: lightgray;
  border-radius: 3px;
  margin-right: 10px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 3;
  position: relative;
  border-radius: 50%;
  background-color: rgb(80, 80, 80);
  width: 20px;
  height: 20px;
}

.sliderValue {
  width: 20%;
  padding: 10px;
  color: #eee;
}

/* Bar Graph */

.barGraph svg {
  height: 300px;
}

.barGraph div {
  width: 80%;
  margin: 0 auto;
}

/* Line Graph */

.lineGraph svg {
  height: 300px;
}

.lineGraph div {
  width: 80%;
  margin: 0 auto;
}

.line {
  stroke-width: 2px;
}
