svg {
  background: #eee;
  overflow: visible;
  display: block;
  width: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 0 50px;
}

.graphButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

button {
  width: 100px;
  margin-top: 5px;
  border: 1px solid black;
  outline: none;
}