html {
  scroll-behavior: smooth;
}

svg {
  overflow: visible;
  display: block;
  width: 100%;
  height: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  position: relative;
}

h1, h2, h3, h4 {
  color: #803A29;
}

.bodyHeading {
  width: 60%;
  margin: 50px auto;
  text-align: left;
}

.bodyText {
  margin: 0 auto;
  width: 60%;
  line-height: 25px;
  text-align: left;
}

.graph {
  padding: 50px 0;
}

.graphButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

button {
  width: 100px;
  margin-top: 5px;
  border: 1px solid black;
  outline: none;
}

.dropdown {
  width: auto;
  height: 35px;
  font-size: 15px;
  outline: none;
  padding: 20px;
}

.navBar {
  position: absolute;
  right: 0;
}

.legend {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
}

.key {
  flex: 1;
  color: white;
}

.stackedGraph .legend, .lineGraph .legend {
  width: 20%;
  margin-top: 50px;
}

.tooltipBox {
  margin: 0 auto;
  width: 50%;
  height: 50px;
  background-color: #121212;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Geo Chart */

svg .country {
  cursor: pointer;
}

svg .country:hover {
  stroke: black;
}

.geoChartContainer {
  width: 100%;
  background-image: linear-gradient(to bottom, lightgray, white);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.geoChartContainer h2, .geoChartContainer h3 {
  margin-top: 0;
}

.geoChart {
  width: 80%;
  height: 50vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#usaText {
  position: absolute;
  font-size: 100px;
  bottom: -50;
  left: 10px;
  width: 50%;
  font-family: "Open Sans";
  font-weight: lighter;
  color: grey;
}

.geoChart svg {
  filter: url(#dropshadow);
}

.geoChartInfoContainer {
  position: absolute;
  top: 15px;
  left: 15px;
}

.geoChartInfo {
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}

.infoTitle {
  font-weight: bold;
}

#geoTooltip {
  position: absolute;
  width: auto;
  height: auto;
  background-color: white;
  border: 2px solid #000;
  box-sizing: border-box;
  transition: 0.1s;
  padding: 10px;
  display: none;
}

#geoTooltip p {
  margin: 0;
}

.dropdownContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdownContainer span {
  padding: 0 10px;
  font-size: 15px;
}

.show {
  display: block;
} 

.hide {
  display: none;
}

#subheading {
  font-size: 15px;
}

.hypothesis {
  width: 60%;
  font-weight: bold
}

/* Pie Chart */

.pieChartLayout {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pieChartDesc {
  width: 50%;
  text-align: left;
}

.pieChartDesc p {
  line-height: 25px;
  width: auto;
}

.pieChartDesc:nth-child(even) {
  text-align: right;
}

.pieChart {
  width: 50%;
}

.pieChart svg {
  height: 350px
}


/* Animated Stacked Graph */

.stackedGraphSection {
  width: 100%;
  padding: 50px 0;
  height: auto;
  /* background-color: #693E3C */
  background-color: #121212
}

.stackedGraphHeading {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 20px;
}

.stackedGraphHeading h2 {
  margin-right: 5px;
  color: rgb(175, 175, 175);
}

.stackedGraph .x-axis line,  .stackedGraph .y-axis line {
  stroke: rgb(175, 175, 175);
}

.stackedGraph .x-axis path, .stackedGraph .y-axis path {
  stroke: rgb(175, 175, 175);
}

.stackedGraph .x-axis text, .stackedGraph .y-axis text {
  fill: rgb(175, 175, 175);
}  

.stackedGraph svg {
  height: 250px
}

.stackedGraph div {
  width: 60%;
  margin: 0 auto;
}

#stackGraphContent {
  margin-top: 50px;
}

.stackedGraph .legend {
  margin-top: 0;
  margin-bottom: 50px;
}

  /* Checkboxes */

.fields {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fieldContainer {
  padding: 10px;
  border-radius: 10px;
  width: 20%;
  display: flex;
  justify-content: center;
  margin: 10px 10px;
}

.mentalHealthFieldContainer {
  width: 25%;
}

.field {
  display: flex;
  align-items: center;
  color: black;
}

.field input {
  margin: 0;
  cursor: pointer;
}

.field label {
  margin-left: 5px;
  cursor: pointer;
}

  /* Range Sliders */

.rangeSliders {
  margin-top: 30px;
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.sliderContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.sliderContainer div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderContainer label {
  color: white;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 7px;
  outline: none;
  background-color: lightgray;
  border-radius: 3px;
  margin-right: 10px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 3;
  position: relative;
  border-radius: 50%;
  background-color: #E8473F;
  width: 20px;
  height: 20px;
}

.sliderValue {
  width: 20%;
  padding: 10px;
  color: #eee;
}

/* Bar Graph */

.barGraph {
  margin: 0 auto;
  width: 60%;
}

.barGraph svg {
  height: 300px;
}

.barGraph div {
  width: 80%;
  margin: 0 auto;
}

/* Line Graph */

.lineGraph {
  width: 60%;
  margin: 0 auto;
}

.lineGraph svg {
  height: 300px;
}

.lineGraph div {
  width: 80%;
  margin: 0 auto;
}

.line {
  stroke-width: 2px;
}

/* Footer */

footer {
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* Sidebar */

aside {
  position: fixed;
  top: 0;
  right: 0;
	color: #207070;
  padding: 10px 20px;
}

.aside-container {
  margin: 1em auto;
  width: auto;
  border-top: 3px #207070 solid;
  border-bottom: 3px #207070 solid;
	width: 240px;
	background-color: rgba(32, 112, 112, .1);

}

.aside-container h4 {
	padding-left: none;
	margin: 20px 0;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 1em;
	color: #207070;
}

aside ol {
	padding-left: 20px;
  list-style: none;
  text-align: left;
}

aside ol li {
	margin: 20px 0;
	font-size: 0.7em;
}

aside li a:active {
	font-weight: 600;
}

aside a,
header a {
	color: #207070;
	text-decoration: none;
	font-size: 1em;
	transition: all 0.3s ease-in-out;
}

aside a {
	font-size: 1.2em;
	font-weight: 500;
}

aside a:hover {
	color: #BB8E35;
}

.subheadings {
  font-size: 0.9em;
}
